# Database Settings
# For PostgreSQL (Production):
# DATABASE_URL=postgres://user:password@hostname:port/database_name
# For SQLite (Local Development - uncomment to use, or leave unset to default to SQLite in settings.py):
# DATABASE_URL=sqlite:///db.sqlite3

# Cloudinary Settings (For persistent media storage)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Django Settings
DEBUG=True
SECRET_KEY=your_secret_key_here
ALLOWED_HOSTS=*
